<div class="productBrowser">
	<% _.each(products, function (product) {  %>

	<div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= product.get('name') %></h3>
   </div>
   <div class="panel-body">
     <p><%= product.get('desc') %></p>
     <h4 class="price">Price: <span class="label label-primary"><%= product.get('price') + ' ' + currency %></span></h4>
   </div>
 </div>

 <% }); %>
 <a href="#">Back to store</a>
</div>