<div id="login">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      
      <div class="input-group input-group-lg">
        <input type="text" id="user" class="form-control" placeholder="Username">
      </div>
      <br>
      <div class="input-group input-group-lg">
        <input type="password" id="pass" class="form-control" placeholder="Password">
      </div>
      <br>
      <div class="input-group">
        <button type="button" id="submitLogin" class="btn btn-info">Login</button>
      </div>
    </div>
  </div>
</div>