#main .productBrowser IMG {
	width: 300px;
}

#main .productBrowser input[type="number"] {
	width: 100px;
	display: inline;
}

#main .productBrowser .form-group.row
{
	margin: 0;
}

#login
{
	width: 200px;
	margin: 0 auto 0 auto;
}

a {
  color: #00B7FF;
}