<div class="productBrowser">
	<% _.each(products, function (product) {  %>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="<%= product.get('imageUrl') %>">
			<div class="caption">
				<h3><%= product.get('name') %></h3>
				<p><%= product.get('desc') %></p>
				<h4 class="price">Price: <span class="label label-primary"><%= product.get('price') + ' ' + currency %></span></h4>
				<p class="quantity label label-info">Available: <%= product.get('quantity') %> item</p>

				<% if(isUserLoggedIn) {  %>
        <hr>
        <form role="form" class="text-right">
          <fieldset>

            <div class="form-group row">
              <button type="button" data-id="<%= product.id %>" class="btn btn-add btn-info">Add</button>
            </div>

          </fieldset>
        </form>
        <% } %>
        
      </div>
    </div>
  </div>

  <% }); %>
</div>